<script>
    $(window).load(function () {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
    });
</script>
<header>
  <div class="container_12">
    <div class="grid_12">
      <h1><a href="index.html"><img src=<%= image_path("images/logo.png")%> alt=""></a></h1>
      <div class="clear"></div>
    </div>
    <div class="menu_block">
      <nav>
        <ul class="sf-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li class="current"><a href="#">Blog</a>
            <ul>
              <li><a href="blog1.html">North</a></li>
              <li><a href="blog2.html">Centre</a></li>
              <li><a href="blog3.html">South</a></li>
            </ul>
          </li>
          <li><a href="contacts.html">Contacts</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</header>
<div class="main">
  <div class="content">
    <div class="container_12">
      <div class="grid_9">
        <h3>Recent Posts</h3>
        <div class="blog">
          <time datetime="2014-01-01">30<br>
            APR</time>
          <div class="extra_wrapper">
            <div class="text1 upp">Lai Chau – a beautiful mountainous land </div>
            <div class="links">Posted by <a href="#">Demo User</a><a href="#" class="comment">0 Comment(s)</a></div>
          </div>
          <div class="clear"></div>
          <img src=<%= image_path("images/page5_img1.jpg")%> alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <p class="text1">A distant mountainous land, a streamy land, a pure cool high land... all is converged in one naturally simple land of beauty – Lai Chau </p>
            <p>As far as 450 kilometers from the capital, there locates a highland in northwest Vietnam, namely Lai Chau (Province). This complex of plateaus is situated at the altitude of 1,500m above sea level, comprising  high mountains, pure streams and rivers.
              It shares borderline with Yun Nan province (China) in about 273 km to the North, Son La, Dien Bien to the west and south, and Lao Cai to the east. <br>
              <a href="#" class="btn">Details</a> </div>
        </div>
        <div class="blog">
          <time datetime="2014-01-01">23<br>
            APR</time>
          <div class="extra_wrapper">
            <div class="text1 upp">Nguom Ngao Cave with masterpiece in stone
            </div>
            <div class="links">Posted by <a href="#">Demo User</a><a href="#" class="comment">0 Comment(s)</a></div>
          </div>
          <div class="clear"></div>
          <img src=<%= image_path("images/page5_img2.jpg")%> alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <p class="text1">Nguom Ngao, an astonishing cave with stalactites of various shapes, is the most famous limestone grotto in the northern mountain province of Cao Bang. </p>
            <p>Nguom Ngao, an astonishing cave with stalactites of various shapes, is the most famous limestone grotto in the northern mountain province of Cao Bang thanks to its uniqueness and size. Visiting the cave, you will be captivated by its wild beauty.
              Nguom Ngao is a really amazing cave, huge and attractive with various shaped stalactites. Some stalactites can create echo also. In comparing this cave with Thien Cung Cave in Ha Long Bay, it is certain that you truly think Nguom Ngao is more beautiful.			<br>
              <a href="#" class="btn">Details</a> </div>
        </div>
      </div>
      <div class="grid_3">
        <h3>Categories</h3>
        <ul class="list2 l1">
          <li><a href="#">Mountain areas</a></li>
          <li><a href="#">Midlands </a></li>
          <li><a href="#">Plains</a></li>
          <li><a href="#">Coastal areas </a></li>
        </ul>
        <h3>Archive</h3>
        <ul class="list2 l1">
          <li><a href="#">April 2014</a></li>
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="bottom_block">
    <div class="container_12">
      <div class="grid_2 prefix_2">
        <ul>
          <li><a href="#">FAQS Page</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Partners</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Useful link</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <h4>Contact Us:</h4>
        TEL: 04644321<br>
        <a href="#">info@vietnambeauty.org</a> </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<footer>
  <div class="container_12">
    <div class="grid_12">
      <div class="socials"> <a href="#"></a> <a href="https://www.facebook.com/vietnambeautyAIW"></a> <a href="#"></a> </div>
      <div class="copy"> Vietnam's beauty &copy; 2014 | <a href="#">Privacy Policy</a>  </div>
    </div>
    <div class="clear"></div>
  </div>
</footer>