<div class="main">
  <div class="content">
    <div class="container_12">
      <div class="grid_9">
        <div class="">
          <h3>Our purpose</h3>
          <img src=<%=image_path("images/page2_img1.jpg") %> alt="" class="img_inner fleft">
          <p>The website is final product of our team in module Advanced Internet and Web services (AIW). This website is created with purpose to introduce all the national beauty landscape in Vietnam. Exploring the website you will have experience through most spectacular landscapes on this beautiful country.</p>
          <div class="clear"></div>
          To know Vietnam is to love Vietnam; - the S- shaped country located in the heart of Southeast Asia. With an area of 331,698 sq.km, of which three-fourths is mountainous and hilly regions, a coastline of 3,260 km and a tropical monsoon climate, Viet Nam boasts abundant natural resources, with numerous magnificent landscapes. Viet Nam’s diverse natural environment, geography, history and culture have created a great potential for the tourism industry.
        </div>
      </div>
      <div class="grid_3">
        <h3>Our Principles</h3>
        <ul class="list1">
          <li>
            <div class="count">1</div>
            <div class="extra_wrapper">
              <div class="text1"></div>
              We strive to update the contents of the website. However, we do not guarantee the accuracy of the current content.
            </div>
          </li>
          <li>
            <div class="count">2</div>
            <div class="extra_wrapper">
              <div class="text1"></div>
              We do not own any copyright material. All materials on the website are available on the Internet and free of charge.
            </div>
          </li>
          <li>
            <div class="count">3</div>
            <div class="extra_wrapper">
              <div class="text1"></div>
              You should acknowledge that the content on the website may change at any time.
          </div>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="grid_12">
        <div class="hor_sep"></div>
      </div>
      <div class="clear"></div>
      <div class="grid_9">
        <h3 class="head1">Our team</h3>
        <ul class="list2" style="width: 350px">
          <li>Nguyen Huu Thong (Leader):</li>
          <li><a mailto="#">Emails: laptrinhuuthong93@gmail.com</a></li>
          <li>Nguyen The Anh</li>
          <li><a mailto="#">Email: fuanh.hanu@gmail.com</a></li>
          <li>Dao Thu Hien</li>
          <li><a mailto="#">Email: hien.dt06@gmail.com</a></li>
        </ul>
        <ul class="list2" style="width: 300px"  >

          <li><a href="#">Nguyen Dang Hung</a></li>
          <li><a mailto="#">Email: danghung2551993@gmail.com</a></li>
          <li><a href="#">Dang Huynh Nam</a></li>
          <li><a mailto="#">Email: nancevicmy@gmail.com</a></li>
        </ul>
       </div>
      <div class="clear"></div>
    </div>
  </div>
</div>