<div class="main">
  <div class="content">
    <div class="container_12" style="margin-top: -100px">
        <h3 class="head1">Province json data</h3>

      <ul  class="list2">
        <p class="text1 tx2" style="margin-top: -30px"> Northern Vietnam</p>
          <% @north_provinces.each do |province| %>
            <li><%= link_to province.name, home_rss_province_path(province.id)%></li>
          <%end%>
      </ul>
      <ul  class="list2">
        <p class="text1 tx2" style="margin-top: -30px"> Central Vietnam</p>
        <% @central_provinces.each do |province| %>
          <li><%= link_to province.name, home_rss_province_path(province.id)%></li>
        <%end%>
      </ul>
      <ul  class="list2"  style="margin-top: -140px; margin-left: 350px">
        <p class="text1 tx2"> Southern Vietnam</p>
        <% @south_provinces.each do |province| %>
          <li><%= link_to province.name, home_rss_province_path(province.id)%></li>
        <%end%>
      </ul>
    </div>
    <div class="clear"></div>

  </div>
</div>