<div class="grid_3">
  <h3>Popular Posts</h3>
  <!--<ul class="list2 l1">-->
  <div style="margin-top: -30px">

  <% @popular_posts.each do |article| %>
         <div style="padding-top: 10px">

            <%= link_to home_location_path(article.id) do %>
                <img src=<%=image_path(article.image )%> alt="" width="150px" height="100px" >
           <% end %>
           <p style="font-size: 0.4em"></p>
           <div> <%= link_to article.name, home_location_path(article.id), style: "font-size: 1.4em"%></div>
       </div>
    <% end %>
  </div>
  </br>

  <!--</ul>-->
  <h3>Province</h3>
  <ul class="list2 l1">
    <% @provinces.each do |province| %>
        <li><%= link_to province.name, home_province_path(province.id)  %></li>
    <% end %>
  </ul>
</div>